<h1>Bugs</h1>
<hr>
<form action="" method="post">
    <label for="">Bug :</label>
    <input type="text" name="newBugName" id="">
    <input type="submit" value="Save">
    <input type="reset" value="Reset">
</form>
